/* Yeni proje ekleme butonu */
.add-project-button {
  background-color: #3f51b5; /* Mavi tonunda */
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.add-project-button:hover {
  background-color: #303f9f; /* Hoverda koyu mavi */
}

/* Yeni proje ekleme formu */
.add-project-form input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Gri arka plan rengi */
}

.add-project-form button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3f51b5; /* Mavi butonlar */
  color: white;
  font-size: 14px;
}

.add-project-form button:nth-child(2) {
  background-color: #9e9e9e; /* Kırmızı yerine gri */
}

.add-project-form button:hover {
  opacity: 0.8; /* Hoverda şeffaflık */
}

/* Silme butonu */
.delete-button {
  background-color: #9e9e9e; /* Kırmızı yerine gri tonları */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.delete-button:hover {
  background-color: #757575; /* Hoverda biraz daha koyu gri */
}
