.input-box {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #B0BEC5;
  position: fixed;
  bottom: 0;
  width: 57%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px; /* Yuvarlak köşeler için artırılmış değer */
}

.input-box input {
  flex: 1;
  padding: 12px 18px;
  border-radius: 30px; /* Aynı şekilde input'ın köşelerini de yuvarlak yapalım */
  border: 1px solid #90A4AE;
  margin-right: 10px;
  font-size: 14px;
  background-color: #F5F5F5;
}

.input-box button {
  background-color: #607D8B;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 30px; /* Butonun köşeleri de yuvarlak olacak şekilde */
  cursor: pointer;
  font-size: 14px;
}
