/* src/styles/inputBox.css */
.input-box {
  display: flex;
  padding: 10px;
  background-color: #FFFFFF; /* bewyaz */
  border-top: 1px solid #FF7043; /* turuncu açık ton */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box input {
  flex: 1;
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #FF5722; /* turuncu */
  margin-right: 10px;
  font-size: 14px;
}

.input-box  input:disabled{
  background-color: #FFAB91;
  cursor: not-allowed;
}

.input-box button {
  background-color: #FF5722;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.input-box button:disabled{
  background-color: #FFAB91;
  cursor: not-allowed;

}

.input-box button:hover {
  background-color: #D84315; /* turuncu koyu */
}
